.join-us{
    width: 100%;
    height: 650px;
    background: #FFF;
}
.join-us-container{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}
.join-wrapper{
    width: 100%;
    height: 370px;
    background: var(--Primary-950, #04334D);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    position: relative;
}
.join-wrapper img{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.join-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 5%;
    padding-top: 110px;
}
.join-left h2{
    color: #FFF;
}
.join-left p{
    color: var(--Neutral-Grey-100, #E6E7E7);
}
.button-wrapper{
    display: flex;
    gap: 15px;
}
.job-seeker-btn{
    width: 175px;
    height: 50px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: var(--Neutral-Grey-100, #E6E7E7);
    background: #01A3E0;
    cursor: pointer;
}
.employer-btn{
    width: 175px;
    height: 50px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #01A3E0;
    border: 1px solid #01A3E0;
    background: var(--Primary-950, #04334D);
    cursor: pointer;
}